@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

@theme {
  --font-display: "Outfit", sans-serif; 
}
